{% extends 'users/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block body_block %}
    <form id="user_form" role="form" class="form-register" method="post" action="{% url 'users:register' %}" autocomplete="off">
        <div class="ui teal segment">
            <h3 class="ui header">{% trans 'Registration' %}</h3>
            {% csrf_token %}
            <div class="ui form">
                {% for field in form %}
                    {% include 'DiplomaQ/field.html' with field=field %}
                {% endfor %}
            </div>
            <div class="ui divider"></div>
            <input type="submit" class="ui teal button" style="float: right;" name="submit" value="{% trans 'Register' %}">
            <h5 class="ui orange header">{% trans 'After registration the administrator will check and activate your account' %}</h5>
        </div>
    </form>
{% endblock %}